/* .topnav {
    overflow: hidden;
    margin-left: 0%;
    margin-right: 0%;
    width :100%;

  }
  

  .topnav a {
    float: left;
    color:gray;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color :lightgray;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
.imgDiv{
  padding-top: 5px;
  padding-bottom:5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
  img {
    align-items: center;
  } 

  .btn-SignUp {
    margin-right: 10px;
    gap: 5px;
    margin-bottom: 0%;
    border-radius: 0.5pc;
    background-color: transparent;
    border-color: darkblue;
    color : White;
  }


  .btn-Signin {
    gap: 5px;
    margin-bottom: 0%;
    border-radius: 0.5pc;
    background-color: transparent;
    border-color: darkblue;
    color : White;
  }

  .links {
    color: white;
    text-decoration: none;
    transition: 0.0s;
    font-size: large;
  }
  .links:active{
    background-color: #04AA6D;
    color: white;
  }
  .links:hover{
    border: white;
    border-style: inset;
    border-top: none;
    border-left: none;
    border-right: none;
  }